body {
    text-align: center;
    margin-top: 300px;
    background-image: url('img/background.jpg');
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: White;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: White;
}

#writeMessages
{
    color: white;
}

#writeMessages a {
    margin-left: 10px;
    color: #0099CC;
}

#writeMessages img {
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

button {
    margin-left: 10px;
}
