body {
    text-align: center;
    margin-top: 300px;
    background-image: url('img/background.jpg');
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: White;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: White;
}

#writeMessages
{
    color: white;
}


#writeMessages img {
    margin-left: 20px;
    width: 15px;
    height: 15px;
}